<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <h1>Dash</h1>
    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>    <div>
    <select>
    	<option value="1">1</option>
    	<option value="1">2</option>
    	<option value="1">3</option>
    	<option value="1">4</option>
    	<option value="1">5</option>
    	<option value="1">6</option>
    	<option value="1">7</option>
    	<option value="1">8</option>
    	<option value="1">9</option>
    	<option value="1">10</option>
    </select>
    </div>
  </ion-content>
</ion-view>
